<section class="mb-4">
    <h4>Latest</h4>
    <hr class="mt-0" />
    <div id="latest-container" class="col-12">
        <article class="latest-article col-3">
            <div class="latest-details-container d-inline-block">
                <h4>Chiori (5-star) Build, Artifacts, and Weapon Suggestions</h4>
                <h5>Be a darling. Use her properly.</h5>
                <p>by MyDefiance de Leon <span class="article-date">March 10, 2024</span></p>
            </div>

            <div class="latest-img-container d-inline-block">
                <figure>
                    <img class="to-center" src="https://placehold.co/500x500.png" alt="placeholder image" />
                </figure>
            </div>
        </article>

        <article class="latest-article col-3">
            <div class="latest-details-container d-inline-block">
                <h4>Hyperbloom Team is Still The "Meta"</h4>
                <h5>The most viable team since 3.0 update</h5>
                <p>by Fantech Fangirl <span class="article-date">March 9, 2024</span></p>
            </div>

            <div class="latest-img-container d-inline-block">
                <figure>
                    <img class="to-center" src="https://placehold.co/500x500.png" alt="placeholder image" />
                </figure>
            </div>
        </article>

        <article class="latest-article col-3">
            <div class="latest-details-container d-inline-block">
                <h4>Should You Exploit The Weapons Banner?</h4>
                <h5>A first-hand testimony</h5>
                <p>by Aizenniah Selah <span class="article-date">March 30, 2024</span></p>
            </div>

            <div class="latest-img-container d-inline-block">
                <figure>
                    <img class="to-center" src="https://placehold.co/500x500.png" alt="placeholder image" />
                </figure>
            </div>
        </article>

        <article class="latest-article col-3">
            <div class="latest-details-container d-inline-block">
                <h4>Genshin Impact Burnout</h4>
                <h5>Cause of burnout and how to deal with it</h5>
                <p>by Ofw Gamer <span class="article-date">March 30, 2024</span></p>
            </div>

            <div class="latest-img-container d-inline-block">
                <figure>
                    <img class="to-center" src="https://placehold.co/500x500.png" alt="placeholder image" />
                </figure>
            </div>
        </article>

        @if(ContentDetails.TotalCount == 0)
        {
            <p>No content. Create one now.</p>
        }
        else
        {
            @foreach (var article in ContentDetails.Items)
            {
                <article class="latest-article col-3">
                    <div class="latest-details-container d-inline-block">
                        <h4>@article.Title</h4>
                        <h5>@article.Subtitle</h5>
                        <p>by Ofw Gamer <span class="article-date">@article.PublishDate.Date.ToLongDateString()</span></p>
                    </div>
                    @if (!article.FeaturedImage.IsNullOrEmpty())
                    {
                        <div class="latest-img-container d-inline-block">
                            <figure>
                                <img class="to-center" src="@article.FeaturedImage" alt="placeholder image" />
                            </figure>
                        </div>
                    }
                </article>
            }
        }
        
    </div>



</section>