<section class="mb-4">
    <h4>Latest</h4>
    <hr class="mt-0" />
    <div id="latest-container" class="col-12">
        
        @if(ContentDetails.TotalCount == 0)
        {
            <p>No content. Create one now.</p>
        }
        else
        {
            @foreach (var article in Articles)
            {
                <a href="/articles/@article.Id">
                    <article class="latest-article col-3">
                        <div class="latest-details-container d-inline-block">
                            <h4>@article.Title</h4>
                            <h5>@article.Subtitle</h5>
                            <p>by Ofw Gamer <span class="article-date">@article.PublishDate.Date.ToLongDateString()</span></p>
                        </div>
                        @if (!article.FeaturedImage.IsNullOrEmpty())
                        {
                            <div class="latest-img-container d-inline-block">
                                <figure>
                                    <img class="to-center" src="@article.FeaturedImage" alt="placeholder image" />
                                </figure>
                            </div>
                        }
                    </article>
                </a>
            }
        }
        
    </div>
</section>