@page "/"
@using Volo.Abp.MultiTenancy
@using SimpleCMS.Blazor.Pages.Home.Components.FeaturedSection
@using SimpleCMS.Blazor.Pages.Home.Components.LatestSection
@inherits SimpleCMSComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (CurrentUser.IsAuthenticated)
{
    <Div Margin="Margin.Is1" TextAlignment="TextAlignment.End">
        <Button Color="Color.Primary" Clicked="AddArticle">
            Create new article
        </Button>
    </Div>
    
}
<FeaturedSection />

<LatestSection />