<section class="mb-4">
    <article>
        <h4>Featured</h4>
        <hr class="mt-0" />
        <div id="featured-container" class="col-12">
            <div class="featured-img-container d-inline-block col-5">
                <figure class="featured-article-img figure figure-is-500x400">
                    <img src="https://placehold.co/500x400.png" alt="placeholder image" />
                </figure>
            </div>

            <div class="featured-details-container d-inline-block col-6">
                <h2>The Quick Brown Fox Jumps Over the Lazy Dog And The Turtle Defeated the Hare</h2>
                <h4>Weird irony... but oh well.</h4>
                <p>by FirstName Lastname <span class="article-date">March 30, 2024</span></p>
            </div>
        </div>
    </article>
</section>